.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: #282c34;
}

.container {
  display: flex;
  min-height: 60vh;
  flex-direction: column;
  align-items: center;
  color: white;
  border: 1px solid gray;
  padding: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
}

.userList {
  align-items: center;
  margin: 10px 0;
}

select {
  width: 20%;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
}

.todoForm {
  display: flex;
  width: 450px;
  justify-content: space-around;
}

.dataInput input {
  width: 80%;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

button {
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin: 0 5px;
}

.todoList {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

li input {
  margin-left: 10px;
  cursor: pointer;
}

h3 {
  margin: 10px 0;
  padding: 0;
}

.listElement {
  display: flex;
  align-items: center;
  width: 450px;
  background-color: rgb(126, 140, 145);
  border-radius: 20px;
  color: black;
  padding: 5px 0;
  margin: 10px 10px;
}

.listText {
  flex: 1;
  margin: 0 15px;
}

@media screen and (max-width: 768px) {
  .App {
    display: flex;
    width: 100vw;
    padding: 20px;
  }
  .container {
    width: 80%;
    min-height: 60vh;
  }
  form {
    width: 80%;
  }
  .listElement {
    width: 95%;
  }
  .dataInput input {
    width: 50%;
    margin-left: 70px;
  }
  .userList {
    align-items: center;
    margin: 20px 0;
  }
  .userList label {
    margin-left: 70px;
  }
}
